@tailwind base;
@tailwind components;
@tailwind utilities;

$background: transparent;
$font-size-desktop: 18px;
$font-size-tablet: 16px;
$font-size-mobile: 14px;

:root {
	/* for mobile first responsive font sizes */
	font-size: $font-size-mobile;
}

body {
	background: $background;
}

/* enhance fontsizes as the screen gets larger */
@media (min-width: 640px) {
	:root {
		font-size: $font-size-tablet;
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: $font-size-desktop;
	}
}

@layer base {
	.text-giant {
		@apply text-[3rem] md:text-[3.5rem] lg:text-[4.5rem];
	}

	.text-semiGiant {
		@apply text-[2rem] lg:text-[2.5rem];
	}
}
